*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'plain regular'
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
height: 100%;
width: 100%;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
}

h1{
    font-size: 4vw;
    color: white;
    text-transform: uppercase;
}